.case {
    margin-left:248px;
}
.top {
    height: 80px;
    line-height: 80px;
    border: 1px solid #d4d4d4;
    margin: 10px;
}
i.glyphicon-ok, i.glyphicon-minus {
    line-height: 30px;
}
.top .method {
    display: inline-block;
    width:100px;
}
.top .method select {
    height: 43px;
}
.top .url{
    display: inline-block;
    width: 60%;
}
.top .url input {
    height: 43px;
    width:100%;
}
.top .submit {
    height: 43px;
    width:8%;
    min-width:60px;
    vertical-align: baseline;
}
.top .save {
    margin-left: 10px;
}
.top .form-control {
    width: 100px;
    display: inline-block;
}
.table-bordered,.text-area {
    border-top-width: 0px;
}
.table tbody tr td {
    padding:0px;
}
.panel .panel-heading {
    text-align: left;
    background-image: none;
}
.panel-title {
    display: inline-block;
}
.text-area, .text-areaTest {
    /*position:absolute;*/
    width: 80%;
}
div.text {
    position: relative;
}
.textlist {
    position: absolute;
    right:0px;
    top: 0px;
    background: #a8a8a8;
    color: white;
}
.textlist li {
    padding: 10px;
    cursor: pointer;
    text-decoration: underline;
}