*{
    list-style: none;
    margin:0;
    padding:0;
    text-align: left;
}
.glyphicon {
    display: block;
    text-align: center;
}
.glyphicon-triangle-right:before {
    margin-right: 5px;
}
.glyphicon-triangle-bottom:before {
    margin-right: 10px;
}
.list ul {
    padding:5px;
    display: none;
    cursor: pointer;
}
.list > ul {
    display: block;
}
.list ul li {
    padding: 5px;
}
.list ul ul, .list ul li {
    margin-left: 1em;
}
.list ul ul ul, .list ul ul li  {
    margin-left: 1.5em;
}
.list ul ul ul ul, .list ul ul ul li  {
    margin-left: 2em;
}
.list ul ul ul ul ul, .list ul ul ul ul li  {
    margin-left: 2.5em;
}
.list ul ul ul ul ul ul, .list ul ul ul ul li  {
    margin-left: 3em;
}
.list {
    position: absolute;
    display: block;
    width: 248px;
    height: 848px;
    top: 79px;
    color: #fff;
    background-color: #a8a8a8;
    overflow: auto;
}
.list i {
    color: rgba(115, 115, 115, 0.82);
}
div.glyphicon {
    width: 100%;
    text-align: left;
    display: inline-block;
    margin-left: 0em;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    border-bottom: 1px solid #cbcbcb;
}
.list > ul .outer {
    position:relative;
    display: none;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #cbcbcb;
}
.list > ul .active {
    display: inline-block;
    background: #d4d4d4;
}
.cover > .list > ul .outer:hover {
    background: #cbcbcb;
}
ul .dirInput {
    position: absolute;
    width: 90px;
    left: 12px;
    top: 1px;
    text-align: left;
    padding-left: 5px;
    height: 37px;
    visibility: hidden;
    background: #cbcbcb;
    border: none;
    color: black;
}
.glyphicon-download-alt {
    position: absolute;
    right: 0px;
    top: 4px;
    line-height: 40px;
}
.glyphicon-trash {
    position: absolute;
    right: 25px;
    top:5px;
    line-height: 40px;
}
.glyphicon-download-alt:hover {
    color: #000;
}
.glyphicon-trash:hover {
    color: #000;
}
.outer .content, .list div .content {
    position: absolute;
    width: 90px;
    left: 0px;
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list div .content ,.list  ul div input.dirInput{
    left: 15px;
}
.outer .renameInput , ul div input.dirInput{
    position: absolute;
    width: 90px;
    left: 0px;
    top: 1px;
    text-align: left;
    padding-left: 5px;
    height: 37px;
    visibility: hidden;
    background: #cbcbcb;
    border: none;
    color: black;
}
