.tool {
    left: 0px;
    padding: 22px;
    background: #d4d4d4;
    width: 248px;
}
.mask {
    position: absolute;
    z-index: 909;
    width: 100%;
    height:100%;
    background: rgba(203, 203, 203, 0.7);
}
.inputWrapper {
    position:absolute;
    z-index: 1000;
    top: 30%;
    left:50%;
    width: 600px;
    background: white;
    transform: translate(-50%, -50%);
}
.sharePanel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    color: whitesmoke;
}
/*.taskBtn:hover .pathPanel {*/
    /*!*display: block;*!*/
    /*visibility: visible;*/
/*}*/
.taskBtn .glyphicon {
    display: inline-block;
    padding: 5px;
    color: black;
}
.taskBtn .liTask {
    /*display: none;*/
    padding: 10px;
    color: white;
    cursor: text;
    user-select: text;
    /*border-bottom: 1px solid black;*/
}
.pathPanel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 1000;
    background: #76767696;
    color: black;
}
.pathPanel .new-task {
    display: flex;
}
.pathPanel .new-task .path-list, .pathPanel .new-task .task-item {
    margin-top: 0px;
}

/*.task-name .uuidName {*/
    /*position: absolute;*/
    /*cursor: text;*/
    /*user-select: text;*/
    /*top:0px;*/
    /*visibility: hidden;*/
/*}*/
/*.task-name:hover .uuidName {*/
    /*visibility: visible;*/
/*}*/
/*.taskname-span:hover .uuidName {*/
    /*display: block;*/
/*}*/
.task-item .task-name li span {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.pathPanel li {
    height: 30px;
    text-align: left;
    text-indent: 50px;
    padding: 0 10px;
    color: #000;
    border-bottom: 1px solid #4b4b4b;
}
/*.shareBtn .sharePanel:hover .shareUl {*/
    /*display: block;*/
    /*position: absolute;*/
    /*left: 227px;*/
    /*top:0;*/
    /*width: 248px;*/
    /*background: #767676;*/
/*}*/
.sharePanel .shareUl {
    display: none;
    position: absolute;
    left: 227px;
    top:0;
    width: 248px;
    background: #767676;
}
.sharePanel .list i.glyphicon-eye-open {
    position: absolute;
    right: 50px;
    top: 4px;
    line-height: 40px;
    color: #454242;
}
.sharePanel .list i.glyphicon-pencil {
    position: absolute;
    right: 20px;
    top: 4px;
    line-height: 40px;
    color: #454242;
}
.shareUl .list {
    top:0px;
    background: #767676;

}
.shareUl .sureShare {
    position: absolute;
    display: block;
    width: 248px;
    height: 40px;
    line-height: 40px;
    top: -40px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #cbcbcb;
    background-color: #767676;
}
.sharePanel div {
    cursor: pointer;
}
.shareDiv {
    padding: 10px;
    text-align: center;
}
.shareLi {
    padding: 10px;
    border-bottom: 1px solid #cbcbcb;
}
.sharePanel .list i {
    color: #767676;
}
.pathPanel .new-task .task-nav li, .pathPanel .task-item .task-name li{
    height: 30px;
}
.pathPanel .task-item {
    border-left: 1px solid black;
}
.check-list li {
    text-align: center;
    line-height: 30px;
}
.pathPanel .new-task .path-list .apilistName, .pathPanel .new-task .path-list .newTask, .taskUid {
    text-align: center;
    font-weight: bold;
}
.task-nav li {
    display: block;
    color: black;
}

.task-list {
    width: 600px;
    height: 600px;
    overflow: auto;
}
.pathPanel .new-task .path-list .task-name {
    background: white;
}
.pathPanel .new-task .path-list .task-name .glyphicon-remove-sign, .pathPanel .new-task .path-list .task-name .glyphicon-play {
    color: black;
    text-indent: 0;
    margin-left: 50px;
}
.taskContent {
    border-left: 1px solid black;
}

